<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fullfilment_v3"
        tools:targetApi="31">
        <activity
            android:name=".appactivities.stretchingexercises.exercises.SeatedSpinalTwistExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.stretchingexercises.exercises.RotationalNeckStretchExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.stretchingexercises.exercises.PuppyPoseExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.stretchingexercises.exercises.PigeonPoseExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.stretchingexercises.exercises.LyingGluteStretchExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.stretchingexercises.exercises.HipFlexorStretchExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.stretchingexercises.exercises.HappyBabyExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.stretchingexercises.exercises.ForwardFoldActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.stretchingexercises.exercises.DownwardFacingDogExxerciseActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.stretchingexercises.exercises.ChestOpenerStretchActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.stretchingexercises.exercises.ChildsPoseExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.stretchingexercises.exercises.CatCowExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.meditations.meditationactivities.LovingKindnessMeditationActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.meditations.meditationactivities.VisualizationMeditationActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.meditations.meditationactivities.RelaxationMeditationActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.meditations.meditationactivities.MovementMeditationActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.meditations.meditationactivities.MantraMeditationActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.meditations.meditationactivities.FocusMeditationActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.meditations.meditationactivities.SpiritualMeditationActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.meditations.meditationactivities.MindfulnessMeditationActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.mentalhealthinfo.articles.FocusAndDisciplineInfoActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.mentalhealthinfo.articles.SuicidalThoughtsInfoActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.mentalhealthinfo.articles.SelfEsteemInfoActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.mentalhealthinfo.articles.InsomniaInfoActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.mentalhealthinfo.articles.BipolarDisorderInfoActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.mentalhealthinfo.articles.OCDInfoActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.mentalhealthinfo.articles.ADHDInfoActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.mentalhealthinfo.articles.AnxietyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.mentalhealthinfo.articles.DepressionInfoActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.personalinfo.PersonalAccountActivity"
            android:exported="false"
            android:label="@string/title_activity_personal_account"
            android:theme="@style/Theme.Fullfilment_v3" />
        <activity
            android:name=".appactivities.settings.ThemesActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.stretchingexercises.StretchingExercisesActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.meditations.MeditationsActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.mentalhealthinfo.articles.PTSDInfoActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.mentalhealthinfo.MentalHealthInfoActivity"
            android:exported="false" />
        <activity
            android:name=".signin.ForgottenPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.HomeDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".appactivities.WelcomePageActivity"
            android:exported="false" />
        <activity
            android:name=".signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".signin.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>